:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --gray: #2E2F42;
    --dairy: #FCFCFC;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

span {
    color: var(--iris)
}
    
address {
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navyblue);
}
.card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.text-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    border-radius: 4px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----NAVIGATION----- */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    }

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-nav-list,
.header-adress-list {
    display: none;
}

.mob-menu-button {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-mob-menu {
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .header-nav,
    .header-nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-nav {
        gap: 120px;
    }

    .header-nav-list {
        gap: 40px;
    }

    .header-nav-link {
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navyblue);
    }


    .current::after {
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .current {
        color: var(--ocean);
    }

    .header-adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .adress-item {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate) 
       }

    .mob-menu-button {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header-section {
        padding: 24px 16px;
    }

    .header-adress-list {
        flex-direction: row;
        gap: 40px;
    }

    .header-nav-link {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .adress-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .adress-item:hover,
    .header-nav-link:hover,
    .header-nav-link:active {
        color: var(--ocean);
    }
    
}

/* -----HERO----- */


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 72px 52px;
    background: var(--navyblue);
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/dark-bg-mob@2.jpg);
    }
}

.hero-header {
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
}

.hero-button {
    margin-top: 72px;
}

@media screen and (min-width:768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;

        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/dark-bg-tablet@2.jpg);
            }
        }
    .hero-header {
        width: 496px;
        font-size: 56px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office@2.jpg);
        }
    }


    .hero-button {
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-button:hover {
        background-color: var(--ocean);
    }    
}

/* -----CONCEPT----- */

.concept-section {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.concept-card-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.concept-icon {
    display: none;
}

.concept-header {
    margin-bottom: 8px;
    text-align: center;
}

.concept-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

@media screen and (min-width:768px) {
    .concept-section {
        min-width: 768px;
    }

    .concept-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    }

    .concept-card {
        max-width: 356px;
    }

    .concept-header {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .concept-section {
        max-width: 1158px;
    }

    .concept-card {
        max-width: 264px;
    }

    .concept-card-list {
        gap: 24px;
    }

    .concept-card-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--lightslate);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: var(--cloud);
        margin-bottom: 8px;
    }

    .concept-icon {
        display: block;
    }

    .concept-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .concept-item-text {
        font-weight: 400;
    }
}





/* -----TEAM----- */
.team-section {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--cloud);
}

.team-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.team-card-item {

    border-radius: 0 0 4px 4px;
    max-width: 264px;
    box-shadow: 
        0 2px 1px 0 rgba(46, 47, 66, 0.08), 
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.team-header {
    margin-bottom: 72px;
}

.team-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-link {
    fill: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
}

@media screen and (min-width:768px) {
    .team-section {
        max-width: 768px;
    }

    .team-card-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
}

@media screen and (min-width:1158px) {
    .team-section {
        max-width: 100%;
    }

    .team-card-list {
    gap: 24px;
    }

    .social-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link:hover,
    .social-link:focus {
        background-color: var(--ocean);
    }
}

/* -----PORTFOLIO----- */
.portfolio-overlay {
    overflow: hidden;
}

.portfolio-text-overlay {
    transform: translateY(100%);

}

.portfolio-section {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-header {
    margin-bottom: 72px;
}

.portfolio-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.portfolio-card-item {
    max-width: 288px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-card-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
}

@media screen and (min-width:768px) {
    .portfolio-section {
        max-width: 100%;
    }

    .portfolio-card-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width:1158px) {
    .portfolio-section {
        max-width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-card-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .portfolio-card-item {
        cursor: pointer;
        position: relative;
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-card-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;
    }

    .portfolio-text-overlay {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        background-color: #4d5ae5;
        color: #F4F4FD;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-card-item:hover .portfolio-text-overlay {
        transform: translateY(0);
    }

}


/* -----FOOTER----- */

.footer {
    width: 100%;
    background-color: var(--navyblue);
    display: flex;
}

.footer-section {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    padding: 96px 16px;
}

.footer-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 264px;

}

.footer-logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    display: inline-block;
    text-align: center;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    text-align: left;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-medium-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--iris);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.footer-social-icon {
    fill: var(--cloud);
}

.footer-subscribe, .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}


.subscribe-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.footer-input-email {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
}

.footer-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: var(--iris);

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.icon-subscribe {
    fill: #fff;
}

@media screen and (min-width:768px) {
    .footer {
        max-width: 100%;
    }
    
    .footer-section {
        max-width: 768px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 96px 108px;
        gap: 72px 24px;
    }

    .footer-subscribe {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: start;
    }


    .subscribe-form {
        display: flex;
        justify-content: start;
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-label {
        padding: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer-section {
        max-width: 1158px;
        padding-top: 100px;
        padding-bottom: 100px;
        flex-wrap: nowrap;
    }

    .footer-description {
        width: 264px;
        align-items: start;
    }

    .footer-social-link {
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-social-icon {
        fill: #F4F4FD;
    }

    .footer-social-link:hover,
    .footer-social-link:focus {
        background-color: #31D0AA;
    }

    .footer-form-button {
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-form-button:hover {
        background-color: #404bbf;
    }
}




/* -----MOB MENU----- */
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-section {
    position: relative;
    min-width: 320px;
    height: 100%;

    padding-top: 72px;
    padding-right: 24px;
    padding-left: 16px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    }

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-button-close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;

    border-radius: 50%;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
}

.mob-menu-nav {
    margin-bottom: auto;
}

.mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    margin-bottom: auto;
}

.mob-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navyblue);

    display: block;
    margin-bottom: 20px;
}

.current {
    color: var(--ocean);
}

.mob-menu-adress {
    margin-bottom: 48px;
    margin-top: auto;
}

.mob-menu-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

}

.mob-menu-nav-adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    align-self: flex-end;
}

.mob-menu-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    padding: 0;
}

.mob-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
}

.mob-menu-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }
}

/* -----MODAL----- */

.backdrop {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;

    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal { 
    transform: translate(-50%, -100%);
}

.modal-button-close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;

    cursor: pointer;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-close {
    fill: #2e2f42;
    transition: 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button-close:hover .icon-close,
.modal-button-close:focus .icon-close {
    fill: #ffffff;
}

.modal-header {
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    line-height: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-form {
    margin-bottom: 16px;
}

.modal-form-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;

    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-form-input:hover,
.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.input-wraper {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-textarea {
    resize: none;
    padding: 8px 16px;
    width: 100%;
    min-height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: #4D5AE5;;
}

.modal-textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox-wraper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.policy-link {
    line-height: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    cursor: pointer;
}

.policy-label {
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.policy-label span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
}


.icon-check {
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.policy-label span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-button {
    display: block;
    margin: 24px auto;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
    background-color: #404bbf;
}  

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}