body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

span {
    color: #4d5ae5;
}
    
address {
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.second-headeh {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* --------------------------------------- header ----------------------------------------- */

.header-section {
    display: flex;
    max-width: 1440px;
    padding: 0 15px 0 15px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
} 

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: auto;
}
.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.header-nav-link:hover,
.header-nav-link:active {
    color: #404bbf;
}

.current::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.current {
    color: #404bbf;
}

.header-address-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}

.header-nav-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-address:hover {
    color: #404bbf;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------------Main----------------- */
.hero {
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
    background-image: 
    linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
    url(../images/bc-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header{
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button {
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
    background-color: #404bbf;
}
/* -------------------Concept--------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.concept-section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    max-width: 1158px;
}

.concept-card {
    max-width: 264px;
}

.concept-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    padding: 24px 100px;
}

.concept-card-list{
    display: flex;
    gap: 24px;
}

/* -----------------------Team--------------------------- */

.team-section {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-card-header {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text-body {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-card-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-card-description {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-link {
    fill:#f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf
}

.social-icon {
     fill: #f4f4fd;
}



/* -------------Portfolio--------- */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-card-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-card-style {
    position: relative;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-card-style:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.portfolio-card-style:hover .portfolio-text-overlay{
    transform: translateY(0);
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-text-overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #F4F4FD;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-description {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
/* -------------footer------------ */

.footer {
    max-width: 100%;
    background-color: #2e2f42;
    display: flex;
}

.footer-section {
    width: 1158px;
    margin: 100px auto;
    display: flex;
    align-items: baseline;
}

.footer-description {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-medium-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}


.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #F4F4FD;
}

.footer-social-link:hover,
.footer-social-link:focus {
background-color: #31D0AA;
}